.creditCard{
    margin-top: 155px;
}


h1{
    font-size: 30px;
    width: 25%;
    margin: 30px auto auto auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
